html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
  text-align: center;
}

.kontener {
  color: rgb(145, 14, 14);
}

.globalFonts {
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}

.globalBorder {
  max-width: 1000px;
}

.globalBackground {
  background-color: rgb(225, 225, 190);
  max-width: 1000px;
}

.photo {
  text-align: center;
}

.buttonT {
  background-color: rgba(2, 11, 16, 0.197);
}